<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Images</h1>
    <p class="lead">Note from admin: Once SatelliteDotCom has our satellites launched, we'll put all the imagery here for LaunchDotCom employees to use in things like advertising campaigns.</p>
  </div>
</main>
