<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">LaunchDotCom SIP</h1>
      <p class="lead">Welcome to the LaunchDotCom Satellite Imagery Project (SIP)! In the year 2000, we will be using a next-generation image and communication satellite manufactured by SatelliteDotCom to expand our portfolio of offerings. This site is a prototype for managing this new capability.</p>
      <p>Note from admin: Unfortunately, this project is being axed by PlanetCom due to budget cuts as a result of the restructuring. Leaving this server running, though, just in case!</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Notes</h2>
        <p>Our first flagship feature for other LaunchDotCom employees to use is the "notes" feature. Employees can use this feature to share notes with each other (or keep privately to themselves) on imagery being sent back to us from the SatelliteDotCom satellites.</p>
      </div>
      <div class="col-md-4">
        <h2>Satellites</h2>
        <p>Eventually, we have plans to show detailed maps and analysis of where each satellite has been and will be going! We need an actual satellite before that can happen, though, so stay tuned!</p>
      </div>
      <div class="col-md-4">
        <h2>Images</h2>
        <p>This is the real meat and potatoes: The imagery itself! Of course, we don't have any yet...SatelliteDotCom doesn't have the satellites launched yet. But, when we do, we'll make sure to have all the imagery available!</p>
      </div>
    </div>
  </div>
</main>
